{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",

    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost;Database=WebApp;User Id=sa;Password=noop;MultipleActiveResultSets=true;Encrypt=False"
    }
}
