@model webapp.ViewComponents.DepartmentsViewModel

<div>
    <form method="post">
        <button class="btn btn-primary mb-3" asp-page-handler="AddDepartment">Dodaj placówkę</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model.Departments)
            {
                <tr>
                    <td>@department.Name</td>
                    <td>
                        <button class="btn btn-primary btn-sm" asp-page-handler="EditDepartment" asp-route-id="@department.Id">Edytuj</button>
                        <button class="btn btn-danger btn-sm" asp-page-handler="DeleteDepartment" asp-route-id="@department.Id">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
