@page
@model webapp.Pages.AdminRestoreModel
@{
	ViewData["Title"] = "Przywracanie konta administratora";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>
	<div asp-validation-summary="All"></div> <!-- Wyświetlanie błędów -->
	
</h1>
